.heading{
    text-align: center;
}

.heading{
    text-align: center;
}

select{
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    width:60vw;
    padding:20px;
    margin-left: 370px;
    height: 60px;
    
}

