@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.rightMain{
    display: flex;
    justify-content: space-around;
    margin-top: 15vh;
    align-items: center;
}

.heading{
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}
.paraBody{
    width: 40vw;
    font-size: 1.2rem;
}