@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
  background: #E5E5E5;
  padding: 50px;
}
#toplogo
{
  float: left;
  margin: 10px;
}
h3{
  font-family: Catamaran;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 14px;
}
.card1{
  border-radius: 20px;
  background: white;
  padding: 30px;
display: flex;
flex-direction: column;
}
h1{

  text-align: center;
  line-height: 30px;
  font-family: Catamaran;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}
.para{
  font-family: roboto;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}
.loginbtn{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 12px;
text-align: center;
color: #FFFFFF;
background: black;
border-radius: 5px;
padding: 10px 30px;
margin-top:0.7em;
}
.loginitem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.number{
  display:flex;
  flex-direction: column;
}


label{
  font-family: Catamaran;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
padding-bottom: 0.7em;
padding-top: 1em;
}
input{
  background: #E8E8E8;
  border: none;
  padding: 12px 55px;
border-radius: 5px;
}
::placeholder{
  font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: center;
}
.step{
  display: flex;
  justify-content: center;
}
